* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit
}

li {
    list-style: none;
}

.active {
    display: flex;
}

.hidden {
    display: none !important;
}

/* Header section */

header {
    display: flex;
    flex-direction: column;
}

.header-top {
    width: 100%;
    font-size: 13px;
    background: #4c8930;
    display: flex;
    flex-direction: row-reverse;
}

.header-top .topnav {
    display: flex;
    padding: 15px 130px;
    flex-flow: wrap;
    flex-shrink: 1;
    flex-direction: row;
}

.header__logo img {
    max-width: 160px;
    max-height: 50px;
}

.header-top .topnav a {
    display: flex;
    color: white;
    padding-right: 22px;
    font-size: larger;
    margin-top: auto;
    margin-bottom: auto;
}

select {
    text-indent: 8px;
}

.box {
    display: flex;
    border-radius: 5px;
    height: 30px;
    width: 177px;
    border: 0.5px solid;
    border-color: #999999a4;
}

.box::placeholder, .btn-success::placeholder {
    padding: 10px 15px;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 130px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    padding-left: 50px;
}

.links a {
    display: flex;
}

.search-bar {
    display: flex;
    margin-left: auto;
}

.search-bar form {
    display: flex;
    /* margin-top: auto; */
    margin-bottom: auto;
}

.links a {
    display: flex;
    padding-right: 15px;
    text-decoration: none;
    color: #999999;
}

.btn-success {
    border-radius: 5px;
    background-color: #4c8930;
    height: inherit;
    margin-left: 9px;
    color: white;
    border: 0.5px solid;
    width: 75px;
}

/* Main section */

.main {
    color: white;
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: center;
    /* justify-items: center; */
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background-image: url(../images/main_background.png);
}

.main-text {
    display: flex;
    flex-direction: column;
}

.statement {
    font-weight: 300;
    font-size: 52px;
    text-align: center;
}

.main-text-button {
    margin: 0 auto;
    font-size: 16px;
    margin-top: 30px;
    /* padding: -5px; */
    color: white;
    border-radius: 5px;
    background-color: rgb(76, 137, 48);
    width: 140px;
    height: 50px;
    border-radius: 5px;
    background-color: #4c8930;
    border: 0px solid;
}

/* Contacts section */

.contacts {
    display: flex;
    flex: row wrap;
    justify-content: center;
    padding: 50px 130px;
    /* width: 100%; */
}

.company {
    background-image: url(../images/company.png);
    margin-left: 0 !important;
}

.product {
    background-image: url(../images/product.png);
}

.contact-us {
    background-image: url(../images/contacts.png);
    margin-right: 0 !important;
}

.card {
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 225px;
    margin: 0 15px;
    padding: 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
}

.card-text {
    display: flex;
    margin: auto auto;
    font-size: 30px;
    font-weight: bold;
}

/* Info section */

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

.info .info-piece img {
    width: 60px;
    height: 63px;
}

.info-piece {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    padding-left: 40px;
    margin-right: 75px;
}

.info-text {
    font-size: 20px;
}

.info-number {
    font-size: 50px;
    font-weight: lighter;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eceeef;
    flex-wrap: wrap;
    min-height: 350px;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}

.title {
    font-size: xx-large;
    display: flex;
    margin: 50px 0;
}

.all-news {
    display: flex;
    padding: 0 130px;
    justify-content: center;
}

.piece-of-news:nth-child(even) {
    width: 100%;
    margin: 0 30px;
    background-color: #fff;
    border-radius: 5px;
}

.piece-of-news:nth-child(odd) {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.news-date {
    padding: 25px;
    font-size: 13px;
}

.news-text {
    font-size: 20px;
    padding: 0 25px 25px;
}

/* References section*/

.references {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 130px;
    margin-bottom: 60px;
    /* width: 100%; */
}

.all-references {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.reference-piece {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 260px;
    height: 375px;
    width: 100%;
    margin: 0 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.reference-piece:nth-child(1) {
    margin-left: 0px;
}

.reference-piece:nth-child(4) {
    margin-right: 0;
}

.reference-piece img {
    /* margin: auto auto; */
    vertical-align: middle;
    margin: 40px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.reference-text p {
    padding: 15px;
}

/* Subscribe section */

hr {
    border-top: 1px solid #e0e0e0;
}

.subscribe {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.subscribe-text {
    display: flex;
}

.subscribe form {
    display: flex;
    flex-flow: row;
    margin-top: 35px;
}
.subscribe-box {
    display: flex;
    border-radius: 5px;
    height: 50px;
    font-size: 19px;
    min-width: 420px;
    width: 100%;
    border: 0.5px solid;
    border-color: #999999a4;
}
.subscribe-box::placeholder {
    padding: 15px 30px;
}
.btn-success-subscribe {
    border-radius: 5px;
    background-color: #4c8930;
    height: inherit;
    color: white;
    border: 0.5px solid;
    margin-left: 10px;
    width: 125px;
    font-size: inherit;
}

@media (max-width: 1380px) {
    .reference-piece {
        margin: 15px 15px !important;
    }
    .reference-piece:nth-child(1) {
        margin: 15px 15px;
    }
    .reference-piece:nth-child(4) {
        margin: 15px 15px;
    }
}

@media (max-width: 1024px) {
    #nav-expanded {
        transition: 2s;
    }
    .burger {
        margin: auto 0;
    }
    .responsive {
        display: none !important;
    }
    .header__logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .header-top {
        display: none !important;
    }
    .links {
        margin-bottom: 15px;
    }
    .links a {
        padding: 5px 5px;
        color: rgba(255, 255, 255, 0.623);
    }
    header {
        flex-direction: column-reverse;
    }
    .header-top {
        align-items: center;
        flex-direction: column;
    }
    .header-top .topnav {
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    .header-top .topnav a {
        padding: 5px;
        padding-left: auto;
        padding-right: auto;
    }
    form {
        margin-top: 5px;
    }
    .topnav .box {
        width: 100%;
        padding: 10px;
        /* margin: 5px 5px !important; */
    }
    .header-bottom {
        transition: 1s;
        background-color: #4c89307a;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }
    .header-bottom .search-bar form, .search-bar {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .header-bottom .search-bar form input[type="submit"] {
        width: 100%;
    }
    .hidden {
        display: block !important;
    }
    .contacts {
        flex-direction: row;
        padding: 50px 5px;
    }
    .card {
        width: 100%;
    }
    .info-piece {
        margin: auto 3% 3%;
        /* padding: auto; */
    }
    .info-description {
        display: flex;
        margin-right: 50px;
        margin-left: 40px;
        padding: 0;
        /* width: 50%; */
    }
    .all-news {
        display: flex;
        flex-direction: column;
        padding: 5% 5%;
        justify-content: center;
    }
    .piece-of-news {
        margin: 2% 0 !important;
    }
    .title {
        padding: 1%;
        margin-bottom: 0 !important;
    }
    .references {
        width: 100%;
        padding: 0;
    }
    .btn-success {
        margin: 0;
        height: 35px;
        border: 0 solid;
     
    }
}

@media (max-width: 800px) {
    .contacts {
        flex-direction: column;
        padding: 25px 25px
    }
    .card {
        margin: 25px auto;
    }
    .info-description {
        width: 30vh;
        display: flex;
        text-align: center;
        margin-right: 0;
    }
    .info-piece {
        margin: 2% 5%;
    }
    .subscribe form {
        flex-direction: column;
        align-items: center;
    }
    .subscribe-box{
        min-width: 50px;
        width: 80vh;
    }
    .btn-success-subscribe {
        width: 70vh;
        margin: 0;
        height: 50px;
    }
}

@media (max-width: 425px) {
    .links {
        padding: initial;
        flex-direction: column;
    }
    .card {
        box-shadow: #999999;
        margin: 12px 0;
        border-radius: 0;
        -webkit-box-shadow: 9px 9px 12px 0px rgba(50, 50, 50, 0.42);
        -moz-box-shadow: 9px 9px 12px 0px rgba(50, 50, 50, 0.42);
        box-shadow: 9px 9px 12px 0px rgba(50, 50, 50, 0.42);
    }
    .contacts {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .info-description {
        justify-content: center;
        text-align: right;
        margin-right: 0;
    }
    .info-piece {
        display: flex;
        margin: auto 5% 5%;
    }
    .btn-success-subscribe {
        width: 90%;
        margin: 0;
    }
    .subscribe-box {
        width: 100%;
    }
}